<div id="newpstask-wrapper">
  <div id="newpstask-head">
    <div class="cbutton" id="nptexpnd">Add Description</div>
    <div class="cbutton" id="nptclse">Close</div>
    <div class="cbutton" id="createTask">+ Create Task</div>
    <div id="npsth-wrp">
      <div id="npsth-plc"></div>
      <form id="inputTask">
      <input type="text" id="inputText">
      </form>
    </div>
    <div id="newpstask-knit"></div>
    <div id="newpstask-knit-after"></div>
  </div>
  <div id="newpstask-tail">
    <div id="npst-box"><textarea id="taskDescription" placeholder="Write a description..." style="overflow: hidden; word-wrap: break-word; resize: none; height: 100px;"></textarea></div>
    <div style="height:20px;"></div>
    <div class="clear"></div>
  </div>
</div>
